html 
	head 
		title='Highest Paid Players Per Team Per Year'
		style 
			include ../public/baseballSalaries.css 
		script. 
			var sortOrder ='!{sortOrder}'
			function pagereset(){
				document.getElementById('spin').style="display: inline-block"
				if(document.getElementById('data')){
					document.getElementById('data').innerHTML=""
				}
			}
		script(src="../code.js")
	body 
		h1= 'Highest Paid Players Per Team Per Year'

	select(id="yearID" onchange="pagereset(); window.location.href='/highestPaidPlayersPerTeamPerYear?yearID='+this.value")
		option(value=0) # Select year 
		each year in years 
			option(value=year.yearID selected=(year.yearID==yearID)) #{year.yearID}
	
	if salaries 
		table(id="data")
			thead 
				tr 
					th <a onclick="pagereset(); sortData('/highestPaidPlayersPerTeamPerYear', 'teamID')">Team ID</a>
					th <a onclick="pagereset(); sortData('/highestPaidPlayersPerTeamPerYear', 'fname')">First name</a> 
					th <a onclick="pagereset(); sortData('/highestPaidPlayersPerTeamPerYear', 'lname')">Last name</a> 
					th <a onclick="pagereset(); sortData('/highestPaidPlayersPerTeamPerYear','salary')">Salary</a> 
			tbody
				each salary in salaries 
					tr 
						td #{salary.teamID}
						td #{salary.fname}
						td #{salary.lname}
						td(align ="right") #{salary.salary.toLocaleString('en-US',{style: 'currency',currency:'USD'})}
	img(id="spin" src="spinning-loading.gif" style="display: none" width ="100px" height ="100px")