html
	head 
		title='Salaries Per Team Per Year'
		style 
			include ../public/baseballSalaries.css
	body 
		h1='Salaries Per Team Per Year'

	select(onchange=`window.location.href='/salariesPerTeamPerYear?teamID=${teamID}&yearID='+this.value`)
		option(value=0) # Select a Year
		each year in years
			option(value=year.yearID selected=(year.yearID==yearID)) #{year.yearID}

	if teams
		select(onchange=`window.location.href='/salariesPerTeamPerYear?yearID=${yearID}&teamID='+this.value`)
			option(value=none) # Select a Team
			each team in teams
				option(value=team.teamID selected=(team.teamID==teamID)) #{team.teamID}